# Browsers that we support
# See: <https://browsersl.ist/#q=%22browserslist%22%3A+%5B%0A++%22defaults+and+fully+supports+es6-module%22%2C%0A++%22maintained+node+versions%22%0A%5D&region=BR>

defaults and fully supports es6-module
maintained node versions
